/*styles*/
body {
    font-family: sans-serif;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

/*header part*/
header{
    background-color: #120323;
    text-align: center;
    padding: 1rem 0;
}
header h1{
    color: #97bf04;
    margin: 0;
}
header ul{
    display: inline;
}

/*naviation*/
nav{
    background-color: #d9043d;
    text-align: center;
    padding: 0.5rem 0;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;

}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin: 0.5rem;
}

/*images style*/
#gallery-container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}
#gallery-container img {
    width: 100%;
    max-width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-bottom: 0.625rem solid #97bf04;
}
#gallery-container figure {
    text-align: center;
    background: white;
    padding: 1rem;
}
/*responsive design*/
@media (max-width: 768px) {
    #gallery-container {
        grid-template-columns: 1fr;
    }
    nav{
        background-color: transparent;
        padding: 1rem 0;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 0.75rem;
        display: inline;
        flex-direction: column;
        align-items: center;
    }
    
    nav a {
        background-color: #d9043d;
        text-decoration: none;
        display: block;
        border: 0.125rem solid #97bf04;
        display: block;
        width: 95%;
        text-align: center;
        margin: 0.5rem auto;
        padding: 1rem 2rem;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    #gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1000px) {
    #gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery-container .photo:last-child {
        grid-column: span 2;
    }
}

/*footer*/
footer{
    background-color: #d9043d;
    text-align: center;
    color: white;
    padding: 1rem 0;
}