/*styles*/
body {
    font-family: sans-serif;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

/*header part*/
header{
    background-color: #120323;
    text-align: center;
    padding: 1rem 0;
}
header h1{
    color: #97bf04;
    margin: 0;
}

/*naviation*/
nav{
    background-color: #d9043d;
    text-align: center;
    padding: 0.5rem 0;
}
nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border: 2px solid #97bf04;
    margin: 0.5rem;
}